// Inbuilt Peripherals
// LEDs
IO_LOC "LEDS_N[5]" 16;
IO_LOC "LEDS_N[4]" 15;
IO_LOC "LEDS_N[3]" 14;
IO_LOC "LEDS_N[2]" 13;
IO_LOC "LEDS_N[1]" 11;
IO_LOC "LEDS_N[0]" 10;

// S2 button
IO_LOC "BTN_N" 3;
IO_PORT "BTN_N" PULL_MODE=UP;

// Reset, S1 button
IO_LOC "RST_N" 4;
IO_PORT "RST_N" PULL_MODE=UP;

// CLK, 27 MHz
IO_LOC "CLK" 52;
IO_PORT "CLK" PULL_MODE=UP;

// HDMI
IO_LOC "TMDS_D_P[2]" 75;
IO_PORT "TMDS_D_P[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC "TMDS_D_N[2]" 74;
IO_PORT "TMDS_D_N[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC "TMDS_D_P[1]" 73;
IO_PORT "TMDS_D_P[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC "TMDS_D_N[1]" 72;
IO_PORT "TMDS_D_N[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC "TMDS_D_P[0]" 71;
IO_PORT "TMDS_D_P[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC "TMDS_D_N[0]" 70;
IO_PORT "TMDS_D_N[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC "TMDS_CLK_P" 69;
IO_PORT "TMDS_CLK_P" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC "TMDS_CLK_N" 68;
IO_PORT "TMDS_CLK_N" IO_TYPE=LVCMOS33D PULL_MODE=NONE;

// PMOD 1
IO_LOC "P1_1" 39;
IO_LOC "P1_2" 36;
IO_LOC "P1_3" 37;
IO_LOC "P1_4" 38;
IO_LOC "P1_5" 49;
IO_LOC "P1_6" 48;
IO_LOC "P1_7" 76;
IO_LOC "P1_8" 77;

// PMOD 2
IO_LOC "P2_1" 28;
IO_LOC "P2_2" 27;
IO_LOC "P2_3" 26;
IO_LOC "P2_4" 25;
IO_LOC "P2_5" 34;
IO_LOC "P2_6" 33;
IO_LOC "P2_7" 30;
IO_LOC "P2_8" 29;

// PMOD 3
IO_LOC "P3_1" 42;
IO_LOC "P3_2" 41;
IO_LOC "P3_3" 35;
IO_LOC "P3_4" 40;
IO_LOC "P3_5" 55;
IO_LOC "P3_6" 54;
IO_LOC "P3_7" 53;
IO_LOC "P3_8" 51;

// PMOD 4
IO_LOC "P4_1" 32;
IO_LOC "P4_2" 31;
IO_LOC "P4_3" 57;
IO_LOC "P4_4" 56;
