(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("testbenches/verilog/counter_tb.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "counter_tb",
                "dut_counter",
            ],
            id: Wellen((3)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (1): Divider((
                color: None,
                background_color: None,
                name: Some("CONSTANTS"),
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "counter_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "CTR_WIDTH",
                    id: Wellen((3)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "CTR_WIDTH",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "counter_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "CTR_MAX",
                    id: Wellen((4)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "CTR_MAX",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (4): Divider((
                color: None,
                background_color: None,
                name: Some("INPUTS"),
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "counter_tb",
                            "dut_counter",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "clk_i",
                    id: Wellen((8)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "clk_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "counter_tb",
                            "dut_counter",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "rst_ni",
                    id: Wellen((10)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rst_ni",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "counter_tb",
                            "dut_counter",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "enable_i",
                    id: Wellen((9)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "enable_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (8): Divider((
                color: None,
                background_color: None,
                name: Some("OUTPUTS"),
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "counter_tb",
                            "dut_counter",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "count_o",
                    id: Wellen((12)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "count_o [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
        },
        display_item_ref_counter: 9,
        viewports: [
            (
                curr_left: (0.0),
                curr_right: (1.0),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: None,
        markers: {},
        focused_item: None,
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: NanoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    use_dinotrace_style: None,
    transition_value: None,
)
