LOCATE COMP "clk_i" SITE "G2";
IOBUF  PORT "clk_i" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_i" 25 MHZ;

# BTN_PWRn, already inverted/active-low
LOCATE COMP "rst_ni" SITE "D6";
IOBUF  PORT "rst_ni" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# J1 header gp[0] (= ui_in[0]); pulled up so the counter runs by default
LOCATE COMP "enable_i" SITE "B11";
IOBUF  PORT "enable_i" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "count_o[0]" SITE "B2";
LOCATE COMP "count_o[1]" SITE "C2";
LOCATE COMP "count_o[2]" SITE "C1";
LOCATE COMP "count_o[3]" SITE "D2";
LOCATE COMP "count_o[4]" SITE "D1";
LOCATE COMP "count_o[5]" SITE "E2";
LOCATE COMP "count_o[6]" SITE "E1";
LOCATE COMP "count_o[7]" SITE "H3";
IOBUF  PORT "count_o[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "count_o[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "count_o[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "count_o[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "count_o[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "count_o[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "count_o[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "count_o[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
